<!--
  后台页面js文件
  -->
<script src="/static/AdminLTE-2.4.10/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/AdminLTE-2.4.10/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/AdminLTE-2.4.10/dist/js/adminlte.min.js"></script>